<odoo>
  <data>
    <!-- rule book source -->
    <record id="action_rulebook_sources" model="ir.actions.act_window">
      <field name="name">Rulebook Sources</field>
      <field name="res_model">regulatory.sources</field>
      <field name="view_mode">tree,form</field>
    </record>


    <record id="action_api_request" model="ir.actions.act_window">
      <field name="name">API Requests</field>
      <field name="res_model">api.request</field>
      <field name="view_mode">form</field>
      <field name="help" type="html">
         <p class="o_view_nocontent_smiling_face">
                Create your first API request
            </p>
            <p>
                Create API requests to test and debug endpoints.
            </p>
      </field>
    </record>

    <record id="action_api_request_history" model="ir.actions.act_window">
        <field name="name">Request History</field>
        <field name="res_model">api.request.history</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                No history yet
            </p>
            <p>
                Send API requests to see history here.
            </p>
        </field>
    </record>




        <!-- Main Menu Item -->
        <menuitem 
            id="menu_regulatory_main" 
            name="Regulatory Api" 
            sequence="10"
        />
        
        <!-- Configuration Submenu -->
        <menuitem 
            id="menu_regulatory_configuration" 
            name="Configuration" 
            parent="menu_regulatory_main" 
            sequence="20"/>
        
        <!-- Sources Menu Item -->
        <menuitem 
            id="menu_regulatory_sources" 
            name="Regulatory Sources" 
            parent="menu_regulatory_configuration" 
            action="action_rulebook_sources" 
            sequence="20"/>
        
        <menuitem id="menu_api_request"
              name="API Requests"
              parent="menu_regulatory_main"
              action="action_api_request"
              sequence="10"/>

        <menuitem id="menu_api_request_history"
              name="Request History"
              parent="menu_api_request"
              action="action_api_request_history"
              sequence="10"/>
  
  </data>


</odoo>