postgresql/
etc/odoo-server.log
etc/addons/
addons/
etc/sessions/
etc/filestore/
fastapi/logs/
fastapi/.env
.env
seatunnel/logs/
seatunnel/jobs/
apache-seatunnel-2.3.12.tar.gz
custom/*
!custom/.gitkeep
*.pyc
__pycache__/

# Windows metadata files
*Zone.Identifier*
*:Zone.Identifier*
