EUROPA_USERNAME=your_email_address
EUROPA_PASSWORD=your_password_here

OPEN_SANCTION_URL=https://api.opensanctions.org/entities/
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent?key=
OPEN_SANCTION_MATCH=https://api.opensanctions.org/match/default

# Adverse media keys
NewsApiKey= '564a8a023b8a4d9d8aba2bb4ca96ca19'
NewsApiUrl= 'https://newsapi.org/v2/everything'
EmailFrom= 'example@gmail.com'
