EUROPA_USERNAME=your_email_address
EUROPA_PASSWORD=your_password_here

# Adverse media keys
NewsApiKey= '564a8a023b8a4d9d8aba2bb4ca96ca19'
NewsApiUrl= 'https://newsapi.org/v2/everything'
EmailFrom= 'example@gmail.com'
