<odoo>
  <data>
    <!-- rule book theme -->
    <record id="action_rulebook_theme" model="ir.actions.act_window">
      <field name="name">Rulebook Themes</field>
      <field name="res_model">rulebook.theme</field>
      <field name="view_mode">tree,form</field>
    </record>
    <!-- rule book source -->
    <record id="action_rulebook_sources" model="ir.actions.act_window">
      <field name="name">Rulebook Sources</field>
      <field name="res_model">rulebook.sources</field>
      <field name="view_mode">tree,form</field>
    </record>
    <record id="action_rulebook_title" model="ir.actions.act_window">
      <field name="name">Rulebook Titles</field>
      <field name="res_model">rulebook.title</field>
      <field name="view_mode">tree,form</field>
      <field name="help" type="html">
        <p class="oe_view_nocontent_create">
          Create your rule book title
        </p>
      </field>
    </record>

    <record id="action_rulebook_department" model="ir.actions.act_window">
      <field name="name">Departments</field>
      <field name="res_model">rulebook.department</field>
      <field name="view_mode">tree,form</field>
    </record>

    <!-- Risk Categories -->
    <record id="action_rulebook_risk_category" model="ir.actions.act_window">
      <field name="name">Risk Categories</field>
      <field name="res_model">rulebook.risk_category</field>
      <field name="view_mode">tree,form</field>
    </record>
    <!-- Exception Processes -->
    <record id="action_rulebook_exception_process" model="ir.actions.act_window">
      <field name="name">Exception Processes</field>
      <field name="res_model">rulebook.exception_process</field>
      <field name="view_mode">tree,form</field>

    </record>
    <!-- Responsible -->
    <record id="action_rulebook_responsible" model="ir.actions.act_window">
      <field name="name">Responsibles</field>
      <field name="res_model">rulebook.responsible</field>
      <field name="view_mode">tree,form</field>
    </record>



    <!-- rule book -->
    <record id="action_rulebook" model="ir.actions.act_window">
      <field name="name">RuleBook</field>
      <field name="res_model">rulebook</field>
      <field name="view_mode">tree,form</field>
      <field name="context">{"search_default_not_deleted":1}</field>
      <field name="help" type="html">
        <p class="oe_view_nocontent_create">
          Create your rule book
        </p>
      </field>
    </record>

    <!-- Exception Types -->
    <record id="action_rulebook_exception_type" model="ir.actions.act_window">
      <field name="name">Exception Types</field>
      <field name="res_model">rulebook.exception_type</field>
      <field name="view_mode">tree,form</field>
     
    </record>

    <!-- Reply log -->
    <record id="action_reply_log" model="ir.actions.act_window">
      <field name="name">Reply Log</field>
      <field name="res_model">reply.log</field>
      <field name="view_mode">tree,form</field>
      <field name="target">current</field>
      <field name="context">{}</field>
      <field name="domain">[]</field>
      <field name="help" type="html">
        <p class="oe_view_nocontent_create">
          View the Reply Log for your Rule book
        </p>
      </field>
    </record>

    <!-- Action to open the tree view -->
    <record id="action_external_resource" model="ir.actions.act_window">
      <field name="name">External Resources</field>
      <field name="res_model">external.resource</field>
      <field name="view_mode">tree,form</field>
      <field name="help" type="html">
        <p class="oe_view_nocontent_create">
          Click to See all new document from external regulatory bodies.
        </p>
      </field>
    </record>




    <!-- Menu Item -->


    <!-- Menu Item -->
    <menuitem id="menu_rulebook_theme_root" name="Rulebook" sequence="10"
      action="action_rulebook" />
    <menuitem id="menu_reply_log" name="Reply Logs" parent="menu_rulebook_theme_root"
      action="action_reply_log" sequence="1" />
    <menuitem id="menu_rulebook_title_root" name="Rulebook Titles"
      parent="menu_rulebook_theme_root"
      action="action_rulebook_title" />
    <!-- rule book them -->
    <menuitem id="menu_rulebook_theme" name="Rulebook Themes" parent="menu_rulebook_theme_root"
      action="action_rulebook_theme" />
    <!-- rule book source -->
    <menuitem id="menu_rulebook_sources" name="Rulebook Sources"
      parent="menu_rulebook_theme_root" action="action_rulebook_sources" />
    <menuitem id="menu_regulatory_sources" name="Regulatory Sources"
      parent="menu_rulebook_sources" action="action_rulebook_sources" />
    <!-- Menu item to access the external resources -->
    <menuitem id="menu_external_resource" name="Rulebook Resources" sequence="10"
      parent="menu_rulebook_sources" action="action_external_resource" />
    <!-- Titles -->
    <!-- <menuitem id="menu_rulebook_title" name="Titles" parent="menu_rulebook_theme_root"
     sequence="2" /> -->


    <!--set
    up menu  -->
    <menuitem id="menu_rulebook_configuration" name="Rulebook Configuration"
      parent="menu_rulebook_theme_root" />


    <!-- Responsible -->
    <menuitem id="menu_rulebook_responsible" name="Email Group" parent="menu_rulebook_configuration"
      action="action_rulebook_responsible" sequence="4" />

    <!-- Departments -->
    <menuitem id="menu_rulebook_department" name="Departments" parent="menu_rulebook_configuration"
      action="action_rulebook_department" sequence="8" />
    <!-- Risk Categories -->
    <menuitem id="menu_rulebook_risk_category" name="Risk Categories"
      parent="menu_rulebook_configuration"
      action="action_rulebook_risk_category" sequence="7" />

    <!-- Exception Processes -->
    <menuitem id="menu_rulebook_exception" name="Rulebook Exception"
      parent="menu_rulebook_theme_root" />
    <menuitem id="menu_rulebook_exception_process" name="Exception Processes"
      parent="menu_rulebook_exception" action="action_rulebook_exception_process" sequence="6" />
    <!-- Exception Types -->
    <menuitem id="menu_rulebook_exception_type" name="Exception Types"
      parent="menu_rulebook_exception"
      action="action_rulebook_exception_type" sequence="5" />

   

    <record id="action_custom_tree" model="ir.actions.act_window">
      <field name="name">Custom Tree View</field>
      <field name="res_model">custom.tree.model</field>
      <field name="view_mode">tree,form</field>
      <field name="target">current</field>
    </record>

    <menuitem id="menu_custom_tree"
      name="Custom Tree"
      action="action_custom_tree"
      parent="menu_rulebook_theme_root" />

  </data>


</odoo>