pandas
aiosmtplib
aiosqlite
annotated-types
anyio
appdirs
appnope
asttokens
async-timeout
asyncpg
attrs
Automat
Babel
backcall
bcrypt
beautifulsoup4
bleach
blinker
bs4
build
cached-property
certifi
cffi
chardet
charset-normalizer
cleo
click
clikit
colorama
constantly
crashtest
cryptography
decorator
defusedxml
distlib
distro
dnspython
docopt
docutils
dotty-dict
dropbox
ebaysdk
ecdsa
email_validator
et_xmlfile
dotenv
gevent-websocket
tabula
pyexcel
grpcio
h11
hashids
hfilesize
httpcore
httpx
hupper
hyperlink
idna
importlib_metadata
incremental
inflection
iniconfig
ipython
iso8601
isodate
itsdangerous
jedi
jpype1
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
libsass
lml
Markdown
MarkupSafe
matplotlib-inline
mistune
mock
nbclient
nbconvert
nbformat
num2words
odfpy
ofxparse
ollama
openpyxl
outcome
packaging
pandocfilters
paramiko
parso
passlib
pastel
pdf2image
pendulum
pexpect
pickleshare
pipreqs
platformdirs
pluggy
ply
polib
prompt_toolkit
ptyprocess
pure_eval
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydot
pyexcel-io
Pygments
PyJWT
pylev
PyMuPDF
PyNaCl
pyOpenSSL
pyparsing
PyPDF2
pypika-tortoise
pypng
pyproject_hooks
pyserial
pytesseract
pytest
pytest-asyncio
pytest-tornasync
pytest-trio
pytest-twisted
python-dateutil
python-dotenv
python-jose
python-ldap
python-multipart
python-stdnum
pytz
pytzdata
pyusb
pyzmq
qrcode
referencing
requests-file
requests-toolbelt
rpds-py
rsa
schedule
six
sniffio
sortedcontainers
soupsieve
stack-data
starlette
stone
tabula-py
texttable
tinycss2
tldextract
tomli
tornado
tortoise-orm
traitlets
trio
Twisted
typing_extensions
tzdata
urllib3
uvicorn
virtualenv
vobject
watchdog
wcwidth
webencodings
websocket-client
whitenoise
xlrd
XlsxWriter
xlwt
yarg
zeep
zipp
zope.event
zope.interface
openpyexcel
sqlparse
psycopg2-binary
pyodbc
pymssql
pymysql
oracledb
scikit-learn
setuptools==80.9.0
redis