<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Report on Settings -->
    <record id="compliance_settings_tree" model="ir.ui.view">
        <field name="name">res_compliance_settings_tree</field>
        <field name="model">res.compliance.settings</field>
        <field name="arch" type="xml">
            <tree string="Compliance Settings">
                <field name="name" string="Name" />
                <field name="code" />
                <field name="val" string="Value" />
            </tree>
        </field>
    </record>
    <!-- Customer Account Type Form -->
    <record id="compliance_settings_form" model="ir.ui.view">
        <field name="name">Compliance Settings</field>
        <field name="model">res.compliance.settings</field>
        <field name="arch" type="xml">
            <form class="o_form_document" delete="False">
                <sheet>
                    <div class="oe_title">
                        <label for="name" class="oe_edit_only" />
                        <h1>
                            <field name="name" />
                        </h1>
                    </div>
                    <group string="Details">
                        <group>
                            <field name="code" />
                        </group>
                        <group>
                            <field name="val" />
                        </group>
                    </group>
                    <notebook>
                        <page name="narration" string="Narration">
                            <field name="narration" />
                        </page>
                    </notebook>
                </sheet>
            </form>
        </field>
    </record>
</odoo>