:root {
  --blush-pink: #FEEEF1;
  --light-beige: #FEF2DC;
  --light-mint: #D9FAE7;
  --sky-blue: #8BB8D9;
}



.overflow-indicator-left{
    font-size: 3rem;
}
.overflow-indicator-right{
    font-size: 3rem;
   
}

/* More Controlled Blink (Fade In/Out) */
.fade-blink {
  animation: fadeBlink 1.5s ease-in-out infinite; /* Adjust duration, easing */
}

@keyframes fadeBlink {
  0% { opacity: 1; } /* Fully visible */
  50% { opacity: 0; } /* Fully invisible */
  100% { opacity: 1; } /* Fully visible */
}


.card-container {
    display: flex; /* Ensure flexbox is enabled on the container */
    overflow-x: auto;
    align-items: center; /* Vertically align items if needed */
    gap: 1rem; /* Use gap for spacing instead of margin on .box */
    padding: 0.5rem 0; /* Use padding on container, not margin on box */
}
  
.card-container::-webkit-scrollbar {
    display: none;
}
  
.box {
    width: 20rem;
    max-width: 20rem;
    min-width: 20rem;
    min-height: 9rem;
    max-height: 9rem;
    border-radius: 0.7rem;
    font-size: 20px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    margin-right: 1rem;
}

  



/* .box:hover{
    transform: scale(1.1);
    transition: all 3s ease-in-out;
} */

.catbox{
    top: 0.6rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
}

 .circle {
            
     width: 8rem; /* Adjust size as needed */
     height: 8rem; /* Adjust size as needed */
     border: 10px solid #000; /* Transparent border */
     border-radius: 50%!important; /* Makes it a circle */
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2.4rem;
     font-weight: bold;
}


.chart{
    max-height: 45vh;
    min-height: 45vh;
    overflow: auto;
    margin: auto;
}
.row{
    margin-right: auto!important;
    margin-left: auto!important;
}

.form-select-cat{
    position: absolute;
    top: 5px;
    right: 5px;
    width: min-content;
    border: none!important;
    outline: none!important;
    padding-right: 0.1rem !important; /* Adjust this value as needed */
    -webkit-appearance: none; /* Remove default appearance */
    -moz-appearance: none;
    appearance: none;
    background-position: right 0.25rem center; /* Adjust arrow position if needed */
    padding-left: 0.1rem !important; /* Adjust left padding if needed */
}

.form-select-cat:focus, .form-select-cat:active{
    border: none!important;
    outline: none!important;
}

@media (max-width: 768px) {
    .rightside{
        position: relative!important;
    }
}