<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Root Menu -->
    <menuitem 
        id="menu_internal_control_root"
        name="Internal Control"
        web_icon="internal_control,static/description/icon.png"
        sequence="10"
    />

    <!-- Dashboard Submenu -->
    <menuitem 
        id="menu_internal_control_dashboard"
        name="Dashboard"
        parent="menu_internal_control_root"
        sequence="20"
    />

    <!-- Alert Monitoring Main Menu -->
    <menuitem 
        id="menu_alert_monitoring"
        name="Alert Monitoring"
        parent="menu_internal_control_root"
        sequence="30"
    />

   
</odoo>