/* Example to change the background color of odd rows */
/* .o_list_view tr:nth-child(odd) {
    background-color: yellow;
} */

/* Change the text color of the tree view header */  .o_field_badge,
  .badge {
      padding: 10px;
  }
  .o_data_cell,.o_list_record_selector,.o_column_sortable{
    align-items: 'center';
    vertical-align: middle;
    /* text-align: center; */
  }

    /* Custom styles for module */
    /* .o_web_client {
      background-color: #f0f8ff !important;
    
    }
  
    .o_main_navbar {
      background-color: red !important;
   
    }
  
    .o_form_view .o_field_label {
      color: #FF0000 !important;
     
    } */
  
    /* Additional styles as needed */